fastapi==0.115.5
uvicorn[standard]==0.32.0
pydantic==2.9.2
email-validator==2.2.0
pydantic-settings==2.6.1
python-dotenv==1.0.1
motor==3.6.0
pymongo==4.9.2
langgraph==0.2.45
langchain-groq==0.2.1
tavily-python==0.5.0
celery==5.4.0
redis==5.2.0
